body {
  color: black;
  background-color: white;
  margin-top: 2em;
  margin-left: 8%;
}

.chapterheading {
/*color: #cc0000;*/
color: purple;
/*font-family: verdana, serif;*/
font-size: 70%}

.subject {
/*margin-left: 0%;*/
color: #cc0000;
/*font-family: verdana, serif;*/
/*color: purple;*/
/* text-align: center;*/
}

h1,h2,h3,h4,h5,h6 {
  color: navy;
/*  font-family: verdana, serif;*/
  margin-left: -4%;
  margin-top: .5em
}

.bibitem {color: purple}

.verbatim {color: darkgreen}

/*code {
font-weight: bold
}*/

.scheme .punctuation {color: brown}

/*.scheme .punctuation code {color: brown;
font-weight: normal}*/

.scheme .keyword {color: #cc0000;
  font-weight: bold;
}

.scheme .variable {color: navy;
/*  font-style: italic; */
}

.scheme .global {color: purple}
.scheme .selfeval {color: green}
.scheme .comment {
/*font-family: serif;*/
color:  teal}

.takenotice {color: red}

.smallprint {
  color: gray;
  font-size: 50%;
}

.smallprint hr {
  text-align: left;
  width: 40%;
}

.footnote {font-weight: bold}
