# The commands for registrating local packages in the catalog `pwd`/pkgs-catalog:
#     racket -l- pkg/dirs-catalog --link --check-metadata pkgs-catalog .
#     echo file://`pwd`/pkgs-catalog/ > catalog-config.txt
#     raco pkg config catalogs >> catalog-config.txt
#     sudo raco pkg config --set catalogs `cat catalog-config.txt`
# These commands are now implemented by Bogdanp/setup-racket@v1.2
# as the local_catalogs config
on: [push, pull_request]
name: CI
jobs:
  build:
    name: "Build on Racket '${{ matrix.racket-version }}' (${{ matrix.racket-variant }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        racket-version: ["current"]
        racket-variant: ["CS", "BC"]
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: Bogdanp/setup-racket@v1.9.1
        with:
          architecture: x64
          distribution: full
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          sudo: never
          dest: '"${HOME}/racket-${{ matrix.racket-version }}-${{ matrix.racket-variant }}"'
          local_catalogs: '${GITHUB_WORKSPACE}'
      - run: mkdir ~/.racket/
      - run: chmod -R a+w ~/.racket/
      - name: Install the Local Checkout of DrRacket
        run: |
             raco pkg install --auto -i --no-setup --skip-installed drracket-test drracket-tool-test
             raco pkg update -i --auto --no-setup drracket/ drracket-test/ drracket-tool/ drracket-tool-test/ drracket-tool-lib/ drracket-tool-doc/ drracket-plugin-lib/
      - run: raco setup --check-pkg-deps drracket tests/drracket
      - run: xvfb-run -a raco test -e -l tests/drracket/module-lang-test
      - run: xvfb-run -a raco test -e -l tests/drracket/syncheck-test
