name: Resyntax Autofixer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  autofix:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.6.0
        # See https://github.com/actions/checkout/issues/118.
        with:
          fetch-depth: 0
      - name: Install Racket
        uses: Bogdanp/setup-racket@v1.9.1
        with:
          version: current
          packages: resyntax
          local_catalogs: $GITHUB_WORKSPACE
          dest: '"${HOME}/racketdist-current-CS"'
          sudo: never
      - name: Register local packages
        run: |
          raco pkg install -i --auto --no-setup --skip-installed drracket-test drracket-tool-test
          raco pkg update --auto --no-setup drracket drracket-test drracket-tool drracket-tool-test drracket-tool-lib drracket-tool-doc drracket-plugin-lib
      - name: Install local packages
        run: raco setup --pkgs drracket drracket-test drracket-tool drracket-tool-test drracket-tool-lib drracket-tool-doc drracket-plugin-lib
      - name: Create a new branch
        run: git checkout -b autofix-${{ github.run_number }}-${{ github.run_attempt }}
      - name: Run Resyntax
        run: racket -l- resyntax/cli fix --directory . --max-fixes 10 --output-as-commit-message >> /tmp/resyntax-output.txt
      - name: Create pull request
        uses: actions/github-script@v6.4.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { readFile, writeFile } = require('fs/promises');
            const commitMessageBody = await readFile('/tmp/resyntax-output.txt', { encoding: 'utf8' });
            const commitMessageTitle = "Automated Resyntax fixes";
            const commitMessage = commitMessageTitle + "\n\n" + commitMessageBody;
            await writeFile('/tmp/resyntax-commit-message.txt', commitMessage);
            await exec.exec('git config user.name "GitHub Actions"');
            await exec.exec('git config user.email "actions@github.com"');
            await exec.exec('git commit --all --file=/tmp/resyntax-commit-message.txt');
            await exec.exec('git push --set-upstream origin autofix-${{ github.run_number }}-${{ github.run_attempt }}');
            await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: commitMessageTitle,
              head: "autofix-${{ github.run_number }}-${{ github.run_attempt }}",
              base: "master",
              body: commitMessageBody,
              maintainer_can_modify: true,
            });
